html {
	margin: 0;
	height: 100%;
}

body {
	font-family: Sans-Serif;
	font-size: 13px;
	text-align: center;
	margin: 0;
	padding: 0;
	height: 100%;
}

#wikipedia_page_iframe {
	width: 100%;
	height: 100%;
	border: 0px solid #666666;
	display: block;
}

.param-input {
	width: 50px;
}

#controls {
	background-color: #b4e5e35e;

	border-bottom: 1px solid #999999;
	border-top: 1px solid #999999;
	width: 100%;
	padding-top: 2px;
	padding-bottom: 2px;

	display: flex;
	justify-content: center;
    align-items: center;
}

#controls > * {
    padding-left: 5px;
}

.flexbox {
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: column;
}

.combobox {
	display: inline-block;
	position: relative;
	width: 50px;
}

.combobox select {
	width: 100%;
}

.combobox > * {
	box-sizing: border-box;
	height: 1.5em;
}

.combobox input {
	position: absolute;
	width: calc(100% - 25px);
}

#rank_picker {
	display: none;
}
