html {
	margin: 0;
	height: 100%;
}

body {
	font-family: Sans-Serif;
	font-size: 13px;
	text-align: center;
	margin: 0;
	padding: 0;
	height: 100%;
}

a {
	text-decoration: none;
	color: #2911dd;
	font-weight: bold;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: #4e48e2;
}

h1 {
	background-color: #b8e4e2;
	margin-top: 0;
	margin-bottom: 0;
	padding: 4px;
	border-bottom: 1px solid #999999;
	border-top: 1px solid #999999;
}

h3 {
	padding-top: 10px;
}

.minMaxRules {
	font-size: 11px;
	white-space: pre;
}

#wikipedia_page_iframe {
	width: 100%;
	height: 100%;
	border: 0px solid #666666;
	display: block;
}

#pageInfoRow {
	border-bottom: 1px solid #999999;
	border-top: 1px solid #999999;
	width: 100%;
	background-color: #b8e4e2;
	padding-top: 2px;
	padding-bottom: 2px;
}

#controls {
	padding-top: 8px;
	padding-bottom: 8px;
	background-color: #b4e5e35e;
}

#openRandomPage {
	font-size: 16px;
	font-weight: bold;
}

.range-inputs {
	width: 50px;
}

#new-tab-button {
	font-size: 12px;
}

.flexbox {
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: column;
}

@media only screen and (max-width: 600px) {
	#openRandomPage {
		font-size: 12px;
	}
	h1 {
		font-size: 16px;
		padding: 2px;
	}
}
